.form-box {    
    width: 360px;
    margin: 90px auto 0 auto;
    .header {
        border-radius: 4px 4px 0, 0;
        background: @primary-color;
        box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
        padding: 20px 10px;
        text-align: center;
        font-size: 26px;
        font-weight: 300;
        color: #fff;
    }

    .body, .footer {
        padding: 10px 20px;
        background: #efefef;
        color: #444;
        > .form-group {
            margin-top: 20px;
            > input {
                border: #fff;
            }
        }

        > .btn {
            margin-bottom: 10px;
        }
    }

    .footer {
        border-radius:0 0 4px 4px;
    }

    @media (max-width: @screen-sm) {
        width: 90%;
    }
}
